In [20]:
import pandas as pd

### Lab

In [30]:
df_a = pd.DataFrame([{"a": 1, "b": 4}, {"a": 2, "b": 5}, {"a": 3, "b": 6}, 
                    {"c": 1}])#row wise
#df_a = pd.DataFrame({"a":[1,2,3],"b": [4,5,6],"c":1})
df_a
#print(df_a.dtypes)

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  6.0  NaN
3  NaN  NaN  1.0

In [28]:
df_b = pd.DataFrame([{"c": 2, "d": 7}, {"c": 3, "d": 8}])# 1 row,2 row
df_b

   c  d
0  2  7
1  3  8

In [31]:
# left join
pd.merge(df_a,df_b,on = "c" ,how ='left' )

     a    b    c   d
0  1.0  4.0  NaN NaN
1  2.0  5.0  NaN NaN
2  3.0  6.0  NaN NaN
3  NaN  NaN  1.0 NaN

In [32]:
# right join
pd.merge(df_a,df_b, on = "c",how = "right")

    a   b  c  d
0 NaN NaN  2  7
1 NaN NaN  3  8

In [33]:
# inner join
pd.merge(df_a,df_b, on = "c",how = "inner")

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [36]:
# outer join
pd.merge(df_a,df_b, on = "c",how = "outer")

     a    b    c    d
0  1.0  4.0  NaN  NaN
1  2.0  5.0  NaN  NaN
2  3.0  6.0  NaN  NaN
3  NaN  NaN  1.0  NaN
4  NaN  NaN  2.0  7.0
5  NaN  NaN  3.0  8.0

### Bonus

In [39]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [40]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [41]:
# left join
pd.merge(left,right,on = "key1", how = "left")

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [42]:
# right join
pd.merge(left,right,on = "key1", how = "right")

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    two     2    one     4
2  foo    one     1    one     5
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [43]:
# inner join
pd.merge(left,right,on = "key1", how = "inner")

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [45]:
# outer join
pd.merge(left,right, on = "key1", how = "outer")

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7