In [1]:
import numpy as np
import pandas as pd
import patsy

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.grid_search import GridSearchCV

In [2]:
# prep data, covert date to datetime, split for train and test, and build model
sf_crime = pd.read_csv('../../assets/datasets/sf_crime_train.csv')

sf_crime = sf_crime.dropna()

sf_crime['Dates'] = pd.to_datetime(sf_crime.Dates)
sf_crime_dates = pd.DatetimeIndex(sf_crime.Dates.values, dtype='datetime64[ns]', freq=None)

sf_crime['hour'] = sf_crime_dates.hour
sf_crime['month'] = sf_crime_dates.month
sf_crime['year'] = sf_crime_dates.year

In [6]:
sf_crime.describe(include = "all")

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,hour,month,year
count,18000,18000,18000,18000,18000,18000,18000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000
unique,7855,36,510,7,10,10,6381,NaN,NaN,NaN,NaN,NaN
top,2015-02-20 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,SOUTHERN,NONE,800 Block of BRYANT ST,NaN,NaN,NaN,NaN,NaN
freq,25,4885,2127,2930,3287,12862,402,NaN,NaN,NaN,NaN,NaN
first,2015-02-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2015-05-13 23:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.423639,37.768466,13.646833,3.489944,2015.000000
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.026532,0.024391,6.539098,0.868601,0.537351
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.513642,37.708154,0.000000,2.000000,2015.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.434199,37.753838,10.000000,3.000000,2015.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.416949,37.775608,15.000000,3.000000,2015.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.406539,37.785390,19.000000,4.000000,2015.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.365565,37.819923,23.000000,5.000000,2015.000000

In [3]:
subset = ['VEHICLE THEFT','BURGLARY','DRUG/NARCOTIC']
sf_crime_sub = sf_crime[sf_crime['Category'].str.contains('|'.join(subset))]

#sf_sample = sf_crime_sub.sample(frac=0.50)

X = patsy.dmatrix('~ C(hour) + C(DayOfWeek) + C(PdDistrict)', sf_crime_sub)
Y = sf_crime_sub.Category.values

# split for train and test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, stratify=Y, random_state=77)

In [4]:
# fit model with five folds and lasso regularization
# use Cs=15 to test a grid of 15 distinct parameters
# remeber: Cs describes the inverse of regularization strength
logreg_cv = LogisticRegressionCV(solver='liblinear') # update inputs here

In [ ]:
# find best C per class
print('best C for class:')
best_C = {logreg_cv.classes_[i]:x for i, (x, c) in enumerate(zip(logreg_cv.C_, logreg_cv.classes_))}
print(best_C)

In [ ]:
# fit regular logit model to 'DRUG/NARCOTIC' and 'BURGLARY' classes
# use lasso penalty

In [ ]:
# build confusion matrices for the models above
Y_1_pred = logreg_1.predict(X_train)
Y_2_pred = logreg_2.predict(X_train)

conmat_1 = confusion_matrix(Y_train, Y_1_pred, labels=logreg_1.classes_)
conmat_1 = pd.DataFrame(conmat_1, columns=logreg_1.classes_, index=logreg_1.classes_)

conmat_2 = confusion_matrix(Y_train, Y_2_pred, labels=logreg_2.classes_)
conmat_2 = pd.DataFrame(conmat_2, columns=logreg_2.classes_, index=logreg_2.classes_)

In [ ]:
# print classification reports

In [ ]:
# run gridsearch using GridSearchCV and 5 folds
# score on f1_macro; what does this metric tell us?
logreg = LogisticRegression()
C_vals = [0.0001, 0.001, 0.01, 0.1, 0.5, 0.75, 1.0, 2.5, 5.0, 10.0, 100.0, 1000.0]
penalties = ['l1','l2']

In [ ]:
# find the best parameter

In [ ]:
# use this parameter to .fit, .predict, and print a classification_report for our X and Y