### List comprehension independent practice

Each problem should be completed with a single list (or dictionary) comprehension!

In [1]:
import pandas as pd
import numpy as np
import string

#### Easy problems

##### 1. convert each string from lowercase to uppercase

[Hint: python strings can be turned to uppercase by appending: .upper(), e.g 'hello'.upper()]

In [2]:
strings = ['black','Yellow','ReD','GreeN','BLUe']

upper_strings = [x.upper() for x in strings]
print(upper_strings)

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

##### 2. take the numbers in the list and keep only the even numbers

[Hint: the modulo operator **%** can be used to calculate the remainder, e.g. 5 % 2 == 1]

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

##### 3. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

In [4]:
characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']
alphabet = list(string.ascii_lowercase)
vowels = ['a','e','i','o','u']

converted = ['v' if x in vowels else 'c' if (x in alphabet and x not in vowels) else '?' for x in characters]
print(converted)

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

#### Medium problems

##### 4. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In [5]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]

means = [np.mean([y for y in x if y >= 0 and y <= 100]) for x in number_sets]
print(means)

[40.25, 37.0, 55.333333333333336]

##### 5. for each string in each list, if the index of the strings is even, join them like: 'item1 item2'. Otherwise join them like: 'item2 item1'.

In [6]:
strings1 = ['alpha','bravo','charlie','delta']
strings2 = ['echo','foxtrot','golf','hotel']

joined = [x+' '+y if i % 2 == 0 else y+' '+x for i, (x, y) in enumerate(zip(strings1, strings2))]
print(joined)

['alpha echo', 'foxtrot bravo', 'charlie golf', 'hotel delta']

##### 6. create a pandas dataframe from the columns and associated values where each column is the first five multiples of the values:

In [7]:
columns = ['five','seven','twelve']
values = [5, 7, 12]
multiples = [1, 2, 3, 4, 5]

data = pd.DataFrame({k:[v*x for x in multiples] for k, v in zip(columns, values)})
print(data)

   five  seven  twelve
0     5      7      12
1    10     14      24
2    15     21      36
3    20     28      48
4    25     35      60

#### Hard problems

##### 7. manually calculate the median of the first n numbers (from list "N") in list "X"

In [14]:
N = [12, 5, 6, 8, 10]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

middle_index = lambda n: int(n/2. - 0.5)
lower_index = lambda n: n/2 - 1
upper_index = lambda n: n/2

medians = [
    X[:n][middle_index(n)] 
    if n % 2 != 0 
    else (X[:n][lower_index(n)] + X[:n][upper_index(n)]) / 2. 
    for n in N
]
print(medians)

[6.5, 3, 3.5, 4.5, 5.5]

##### 8. combine into a flat list: 

1. iterate the elements of one list 
2. iteratively multiply by them by the elements in the second list
3. then iteratively subtract the elements in a third list

e.g:

    a = [1,2]
    b = [0,1]
    c = [1,2]
    output = [0,0,0,-1,0,0,1,0]

In [16]:
a = [9,7,5]
b = [10,5,1]
c = [1,2,3]


output = [
    (a_ * b_) - c_
    for b_ in b
    for a_ in a
    for c_ in c
]

print(output)

[89, 88, 87, 69, 68, 67, 49, 48, 47, 44, 43, 42, 34, 33, 32, 24, 23, 22, 8, 7, 6, 6, 5, 4, 4, 3, 2]