# Feature Selection Lab

In this lab we will explore feature selection on the Titanic Dataset. First of all let's load a few things:

- Standard packages
- The training set from lab 2.3
- The union we have saved in lab 2.3


You can load the titanic data as follows:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student titanic
    password: gastudents

In [11]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic')

df = pd.read_sql('SELECT * FROM train', engine)
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [12]:
import gzip
import dill

with gzip.open('../../../2.3-lab/assets/datasets/union.dill.gz') as fin: #unzip file
    union = dill.load(fin) # pipeline
    
X = df[[u'Pclass', u'Sex', u'Age', u'SibSp', u'Parch', u'Fare', u'Embarked']]
y = df[u'Survived']

X_transf = union.fit_transform(X)
X_transf

array([[-0.5924806 ,  0.        ,  0.        , ...,  1.        ,
         1.        , -0.50244517],
       [ 0.63878901,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.78684529],
       [-0.2846632 ,  0.        ,  0.        , ...,  1.        ,
         0.        , -0.48885426],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  1.        ,
         0.        , -0.17626324],
       [-0.2846632 ,  1.        ,  0.        , ...,  0.        ,
         1.        , -0.04438104],
       [ 0.17706291,  0.        ,  0.        , ...,  0.        ,
         1.        , -0.49237783]])

In [13]:
union

FeatureUnion(n_jobs=1,
       transformer_list=[('pipeline-1', Pipeline(steps=[('columnselector', ColumnSelector(columns='Age')), ('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))])), ('getdummiestransformer', Ge...r(columns='Fare')), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))]))],
       transformer_weights=None)

In [14]:
union.get_params()

{'getdummiestransformer': GetDummiesTransformer(columns=['Pclass', 'Embarked']),
 'getdummiestransformer__columns': ['Pclass', 'Embarked'],
 'n_jobs': 1,
 'pipeline-1': Pipeline(steps=[('columnselector', ColumnSelector(columns='Age')), ('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))]),
 'pipeline-1__columnselector': ColumnSelector(columns='Age'),
 'pipeline-1__columnselector__columns': 'Age',
 'pipeline-1__imputer': Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0),
 'pipeline-1__imputer__axis': 0,
 'pipeline-1__imputer__copy': True,
 'pipeline-1__imputer__missing_values': 'NaN',
 'pipeline-1__imputer__strategy': 'mean',
 'pipeline-1__imputer__verbose': 0,
 'pipeline-1__standardscaler': StandardScaler(copy=True, with_mean=True, with_std=True),
 'pipeline-1__standardscaler__copy': True,
 'pipeline-1__standardscaler__with_mean': True,
 'pipeline-1__standardscaler__with_std': True,
 'pipeline-1__steps': [('columnselector', ColumnSelector(columns='Age')),
  ('imputer',
   Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)),
  ('standardscaler',
   StandardScaler(copy=True, with_mean=True, with_std=True))],
 'pipeline-2': Pipeline(steps=[('columnselector', ColumnSelector(columns='Sex')), ('truefalsetransformer', TrueFalseTransformer(flag='male'))]),
 'pipeline-2__columnselector': ColumnSelector(columns='Sex'),
 'pipeline-2__columnselector__columns': 'Sex',
 'pipeline-2__steps': [('columnselector', ColumnSelector(columns='Sex')),
  ('truefalsetransformer', TrueFalseTransformer(flag='male'))],
 'pipeline-2__truefalsetransformer': TrueFalseTransformer(flag='male'),
 'pipeline-2__truefalsetransformer__flag': 'male',
 'pipeline-3': Pipeline(steps=[('columnselector', ColumnSelector(columns='Fare')), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))]),
 'pipeline-3__columnselector': ColumnSelector(columns='Fare'),
 'pipeline-3__columnselector__columns': 'Fare',
 'pipeline-3__standardscaler': StandardScaler(copy=True, with_mean=True, with_std=True),
 'pipeline-3__standardscaler__copy': True,
 'pipeline-3__standardscaler__with_mean': True,
 'pipeline-3__standardscaler__with_std': True,
 'pipeline-3__steps': [('columnselector', ColumnSelector(columns='Fare')),
  ('standardscaler',
   StandardScaler(copy=True, with_mean=True, with_std=True))],
 'transformer_list': [('pipeline-1',
   Pipeline(steps=[('columnselector', ColumnSelector(columns='Age')), ('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))])),
  ('getdummiestransformer',
   GetDummiesTransformer(columns=['Pclass', 'Embarked'])),
  ('pipeline-2',
   Pipeline(steps=[('columnselector', ColumnSelector(columns='Sex')), ('truefalsetransformer', TrueFalseTransformer(flag='male'))])),
  ('pipeline-3',
   Pipeline(steps=[('columnselector', ColumnSelector(columns='Fare')), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))]))],
 'transformer_weights': None}

## 1 Column names

Uh oh, we have lost the column names along the way! We need to manually add them:
- age_pipe => 'scaled_age'
- one_hot_pipe => 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S'
- gender_pipe => 'male'
- fare_pipe => 'scaled_fare'

Now we need to:

1. Create a new pandas dataframe called `Xt` with the appropriate column names and fill it with the `X_transf` data.
2. Notice that the current pipeline complitely discards the columns: u'SibSp', u'Parch'. Stack them as they are to the new dataframe

In [7]:
newColumns = ['scaled_age','Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S','male','scaled_fare']

In [16]:
Xt = pd.DataFrame(X_transf, columns = newColumns)
Xt.head(2)
Xt[u'SibSp'] = X[u'SibSp']
Xt[u'Parch'] = X[u'Parch']
Xt.head()

,scaled_age,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,male,scaled_fare,SibSp,Parch
0,-0.592481,0.0,0.0,1.0,0.0,0.0,1.0,1.0,-0.502445,1,0
1,0.638789,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.786845,1,0
2,-0.284663,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.488854,0,0
3,0.407926,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.420730,1,0
4,0.407926,0.0,0.0,1.0,0.0,0.0,1.0,1.0,-0.486337,0,0

## 2. Feature selection

Let's use the `SelectKBest` method in scikit learn to see which are the top 5 features.

- What are the top 5 features for `Xt`?

=> store them in a variable called `kbest_columns`

In [28]:
from sklearn.feature_selection import SelectKBest, f_classif
selector = SelectKBest(f_classif,k=5) # find top feature
selected_data =   selector.fit_transform(Xt,y)
selector.get_support() # 5 best column with true
#Xt.columns[selector.get_support()]

array([False,  True, False,  True,  True, False, False,  True,  True,
       False, False], dtype=bool)

In [31]:
Xt.columns[selector.get_support()] #puting true value to find column

Index([u'Pclass_1', u'Pclass_3', u'Embarked_C', u'male', u'scaled_fare'], dtype='object')

In [98]:
Kbest_columns = Xt.columns[selector.get_support()]

In [30]:
pd.DataFrame(selected_data,columns =Xt.columns[selector.get_support()] )

     Pclass_1  Pclass_3  Embarked_C  male  scaled_fare
0         0.0       1.0         0.0   1.0    -0.502445
1         1.0       0.0         1.0   0.0     0.786845
2         0.0       1.0         0.0   0.0    -0.488854
3         1.0       0.0         0.0   0.0     0.420730
4         0.0       1.0         0.0   1.0    -0.486337
5         0.0       1.0         0.0   1.0    -0.478116
6         1.0       0.0         0.0   1.0     0.395814
7         0.0       1.0         0.0   1.0    -0.224083
8         0.0       1.0         0.0   0.0    -0.424256
9         0.0       0.0         1.0   0.0    -0.042956
10        0.0       1.0         0.0   0.0    -0.312172
11        1.0       0.0         0.0   0.0    -0.113846
12        0.0       1.0         0.0   1.0    -0.486337
13        0.0       1.0         0.0   1.0    -0.018709
14        0.0       1.0         0.0   0.0    -0.490280
15        0.0       0.0         0.0   0.0    -0.326267
16        0.0       1.0         0.0   1.0    -0.061999
17        0.0       0.0         0.0   1.0    -0.386671
18        0.0       1.0         0.0   0.0    -0.285997
19        0.0       1.0         1.0   0.0    -0.502949
20        0.0       0.0         0.0   1.0    -0.124920
21        0.0       0.0         0.0   1.0    -0.386671
22        0.0       1.0         0.0   0.0    -0.486756
23        1.0       0.0         0.0   1.0     0.066360
24        0.0       1.0         0.0   0.0    -0.224083
25        0.0       1.0         0.0   0.0    -0.016444
26        0.0       1.0         1.0   1.0    -0.502949
27        1.0       0.0         0.0   1.0     4.647001
28        0.0       1.0         0.0   0.0    -0.489776
29        0.0       1.0         0.0   1.0    -0.489442
..        ...       ...         ...   ...          ...
861       0.0       0.0         0.0   1.0    -0.416873
862       1.0       0.0         0.0   0.0    -0.126345
863       0.0       1.0         0.0   0.0     0.751946
864       0.0       0.0         0.0   1.0    -0.386671
865       0.0       0.0         0.0   0.0    -0.386671
866       0.0       0.0         1.0   0.0    -0.369389
867       1.0       0.0         0.0   1.0     0.368295
868       0.0       1.0         0.0   1.0    -0.457142
869       0.0       1.0         0.0   1.0    -0.424256
870       0.0       1.0         0.0   1.0    -0.489442
871       1.0       0.0         0.0   0.0     0.409741
872       1.0       0.0         0.0   1.0    -0.547748
873       0.0       1.0         0.0   1.0    -0.467209
874       0.0       0.0         1.0   0.0    -0.165189
875       0.0       1.0         1.0   0.0    -0.502949
876       0.0       1.0         0.0   1.0    -0.450180
877       0.0       1.0         0.0   1.0    -0.489442
878       0.0       1.0         0.0   1.0    -0.489442
879       1.0       0.0         1.0   0.0     1.025945
880       0.0       0.0         0.0   0.0    -0.124920
881       0.0       1.0         0.0   1.0    -0.489442
882       0.0       1.0         0.0   0.0    -0.436671
883       0.0       0.0         0.0   1.0    -0.437007
884       0.0       1.0         0.0   1.0    -0.506472
885       0.0       1.0         0.0   0.0    -0.061999
886       0.0       0.0         0.0   1.0    -0.386671
887       1.0       0.0         0.0   0.0    -0.044381
888       0.0       1.0         0.0   0.0    -0.176263
889       1.0       0.0         1.0   1.0    -0.044381
890       0.0       1.0         0.0   1.0    -0.492378

[891 rows x 5 columns]

## 3. Recursive Feature Elimination

`Scikit Learn` also offers recursive feature elimination as a class named `RFECV`. Use it in combination with a logistic regression model to see what features would be kept with this method.

=> store them in a variable called `rfecv_columns`

In [40]:
from sklearn.feature_selection import RFECV # what did doubt 
from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()


#LassoCV(estimator,alphas =[])

In [46]:
selecter = RFECV(estimator,cv =5,step=1) 
selector = selecter.fit(Xt,y)

In [94]:
selector.get_support()

array([ True,  True,  True,  True,  True,  True, False,  True, False,
        True, False], dtype=bool)

In [95]:
Xt.columns[selector.support_]

Index([u'scaled_age',   u'Pclass_1',   u'Pclass_2',   u'Pclass_3',
       u'Embarked_C', u'Embarked_Q',       u'male',      u'SibSp'],
      dtype='object')

In [53]:
Xt.columns[selector.get_support()]

Index([u'scaled_age',   u'Pclass_1',   u'Pclass_2',   u'Pclass_3',
       u'Embarked_C', u'Embarked_Q',       u'male',      u'SibSp'],
      dtype='object')

In [99]:

RFECVcolumns =Xt.columns[selector.get_support()]
RFECVcolumns

Index([u'scaled_age',   u'Pclass_1',   u'Pclass_2',   u'Pclass_3',
       u'Embarked_C', u'Embarked_Q',       u'male',      u'SibSp'],
      dtype='object')

## 4. Logistic regression coefficients

Let's see if the Logistic Regression coefficients correspond.

- Create a logistic regression model
- Perform grid search over penalty type and C strength in order to find the best parameters
- Sort the logistic regression coefficients by absolute value. Do the top 5 correspond to those above?
> Answer: Not completely. That could be due to scaling

=> choose which ones you would keep and store them in a variable called `lr_columns`

In [70]:
#3from sklearn.model_selection import GridSearchCV
# plt.figure()
# plt.xlabel("number of feature elected")
# plt.ylabel("cross validation score(nb of correct classification)")
# plt.plot(range1, len((selector.grid_scores_)+1),selector.grid_scores_)
# plt.show()

In [71]:
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import LogisticRegression
model= GridSearchCV(LogisticRegression(),{'C':[.0001,.01,1,3,.5],"penalty":["l1","l2"]})
model.fit(Xt,y)
model.best_estimator_

LogisticRegression(C=3, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [81]:
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import LogisticRegressionCV
model= GridSearchCV(LogisticRegressionCV(solver = 'liblinear'),{'cv':[2,3,5,10],'Cs':[1,3,5,10], 'penalty':['l1','l2']})
model.fit(Xt,y)
model.best_estimator_

LogisticRegressionCV(Cs=3, class_weight=None, cv=3, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l1', random_state=None,
           refit=True, scoring=None, solver='liblinear', tol=0.0001,
           verbose=0)

In [83]:
model.best_score_

0.79236812570145898

In [85]:
coeffs = pd.DataFrame(model.best_estimator_.coef_, columns = Xt.columns)
coeffs

,scaled_age,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,male,scaled_fare,SibSp,Parch
0,-0.51081,4.144677,3.220385,1.994806,-2.95594,-2.985674,-3.401533,-2.709805,0.112341,-0.322165,-0.095092

In [87]:

coeft =  coeffs.transpose()
coeft.columns = ["logistic coeffs"]
coeft

             logistic coeffs
scaled_age         -0.510810
Pclass_1            4.144677
Pclass_2            3.220385
Pclass_3            1.994806
Embarked_C         -2.955940
Embarked_Q         -2.985674
Embarked_S         -3.401533
male               -2.709805
scaled_fare         0.112341
SibSp              -0.322165
Parch              -0.095092

In [91]:
lr_columns = coeff.columns[(coeffs.abs()>.3).values[0]]
lr_columns

Index([u'scaled_age',   u'Pclass_1',   u'Pclass_2',   u'Pclass_3',
       u'Embarked_C', u'Embarked_Q', u'Embarked_S',       u'male',
            u'SibSp'],
      dtype='object')

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif
selector = SelectKBest(f_classif,k=5) # find top feature
selected_data =   selector.fit_transform(Xt,y)
selector.get_support() # 5 best column with true
#Xt.columns[selector.get_support()]

## 5. Compare features sets

Use the `best estimator` from question 4 on the 3 different feature sets:

- `kbest_columns`
- `rfecv_columns`
- `lr_columns`
- `all_columns`

Questions:

- Which scores the highest? (use cross_val_score)
- Is the difference significant?
> Answer: Not really
- discuss in pairs

In [103]:
from sklearn.cross_validation import cross_val_score
def score(X):
    scores = cross_val_score(model.best_estimator_,X,y)
    
    return scores.mean(),scores.std()
#apply function to selected column

all_scores = [score(Xt[Kbest_columns]),
              score(Xt[RFECVcolumns]),
              score(Xt[lr_columns]),
              score(Xt)]
pd.DataFrame(all_scores,index = ["Kbest","RFE","LR","ALL"],columns = ["mean score","std score"])
#higher is better for mean lower is better for std

       mean score  std score
Kbest    0.786756   0.006349
RFE      0.786756   0.006349
LR       0.790123   0.006919
ALL      0.792368   0.005723

## Bonus

Use a bar chart to display the logistic regression coefficients. Start from the most negative on the left.