In [2]:
%load_ext sql

In [6]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind

u'Connected: dsi_student@northwind'

In [8]:
%%sql
select * from orders limit 5;

5 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil'),
 (10251, u'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, u'Victuailles en stock', u'2, rue du Commerce', u'Lyon', None, u'69004', u'France'),
 (10252, u'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, u'Supr\xeames d\xe9lices', u'Boulevard Tirou, 255', u'Charleroi', None, u'B-6000', u'Belgium')]

In [11]:
%%sql 
select * from customers limit 5;

5 rows affected.

[(u'ALFKI', u'Alfreds Futterkiste', u'Maria Anders', u'Sales Representative', u'Obere Str. 57', u'Berlin', None, u'12209', u'Germany', u'030-0074321', u'030-0076545'),
 (u'ANATR', u'Ana Trujillo Emparedados y helados', u'Ana Trujillo', u'Owner', u'Avda. de la Constituci\xf3n 2222', u'M\xe9xico D.F.', None, u'05021', u'Mexico', u'(5) 555-4729', u'(5) 555-3745'),
 (u'ANTON', u'Antonio Moreno Taquer\xeda', u'Antonio Moreno', u'Owner', u'Mataderos  2312', u'M\xe9xico D.F.', None, u'05023', u'Mexico', u'(5) 555-3932', None),
 (u'AROUT', u'Around the Horn', u'Thomas Hardy', u'Sales Representative', u'120 Hanover Sq.', u'London', None, u'WA1 1DP', u'UK', u'(171) 555-7788', u'(171) 555-6750'),
 (u'BERGS', u'Berglunds snabbk\xf6p', u'Christina Berglund', u'Order Administrator', u'Berguvsv\xe4gen  8', u'Lule\xe5', None, u'S-958 22', u'Sweden', u'0921-12 34 65', u'0921-12 34 67')]

In [14]:
# %%sql
# SELECT "CustomerID", "CompanyName", "Country" FROM customers
# ORDER BY "Country";

In [31]:
%%sql
select "OrderID",sum("Quantity") from order_details order by sum("Quantity") desc limit 3;

(psycopg2.ProgrammingError) column "order_details.OrderID" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: select "OrderID",sum("Quantity") from order_details order by...
               ^
 [SQL: 'select "OrderID",sum("Quantity") from order_details order by sum("Quantity") desc limit 3;']

In [28]:
%%sql
select "OrderDate","OrderID" from orders order by "OrderDate" asc limit 5;

5 rows affected.

[(datetime.date(1996, 7, 4), 10248),
 (datetime.date(1996, 7, 5), 10249),
 (datetime.date(1996, 7, 8), 10250),
 (datetime.date(1996, 7, 8), 10251),
 (datetime.date(1996, 7, 9), 10252)]