In [21]:
list1 = [1,2,3,4,5,6,7,8]
list2 = [i+1 for i in list1]
print(list2)
a = sum(list1)/len(list1)
print(sum(list1)/len(list1))

[2, 3, 4, 5, 6, 7, 8, 9]
4

In [23]:
list3 = [1 if i>4 else 0 for i in list1]
print(list3)

[0, 0, 0, 0, 1, 1, 1, 1]

In [38]:
list4 = [1,3,4,5,6,0,0,1,0,0,0,0,1,1,6,7,4,3,1,1]
list5 = [0 if i == 1  else i if i>1 else 1 for i in list4]
print(list5)

[0, 3, 4, 5, 6, 1, 1, 0, 1, 1, 1, 1, 0, 0, 6, 7, 4, 3, 0, 0]

In [53]:
list6 = [1,3,4,5,6,2,-3,-4,1,-6,-3]
list7 = [[i**2,i**.5] for x in [y  for y in list6 if y >0]]
print(list7)

ValueError: negative number cannot be raised to a fractional power

In [76]:
m1 = ['ab','cd','ef','gh','ij']
cols = ['name','age','salary']
values = [['ab','cd','ef'],[21,22,23],[10,20,30]]

dic = {key:value for key, value in zip(cols,values) }
print(dic)

{'salary': [10, 20, 30], 'age': [21, 22, 23], 'name': ['ab', 'cd', 'ef']}

In [72]:
import pandas as pd
df = pd.DataFrame(dic)
print(df)

   age name  salary
0   21   ab      10
1   22   cd      20
2   23   ef      30