# Local Postgresql Database Lab

In this lab we will practice adding and removing data from a local Postgresql database. We will:

- Walk through instructions on how to set up and configure a local postgresql server
- Create a database and a table using SQL and CRUD data in/from that table.
- Learn how to copy data from a CSV file into this local database
- Practice our SQL with a practice assignment.

## 1. Install PostgreSQL Locally

You should have already taken care of this in the Installfest, but just in case, [here](http://www.postgresql.org/download/) are the instructions for the most common platforms.

## 2. Launch and connect to a local PostgreSQL server

Now that you've installed PostgreSQL locally, practice connecting with the following methods:

- [Postico](https://eggerapps.at/postico/docs/v1.0.6/)
- Command-line (psql)
- Sqlalchemy + Pandas
- Ipython-notebook using the ipython-sql extension

**Check:** List the existing databases, there should be none, right?
> not true, there are some default databases from postgres

**Check:** If there are databases, check the tables' contents.

In [1]:
#- from sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://localhost:5432')
pd.read_sql("SELECT * FROM information_schema.tables LIMIT 3;", engine)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,prerana,pg_catalog,pg_statistic,BASE TABLE,None,None,None,None,None,YES,NO,None
1,prerana,pg_catalog,pg_type,BASE TABLE,None,None,None,None,None,YES,NO,None
2,prerana,pg_catalog,pg_authid,BASE TABLE,None,None,None,None,None,YES,NO,None

In [12]:
# - the ipython-notebook using the ipython-sql extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%%sql postgresql://localhost:5432

SELECT * FROM information_schema.tables LIMIT 3;

3 rows affected.

[(u'prerana', u'pg_catalog', u'pg_statistic', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'prerana', u'pg_catalog', u'pg_type', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'prerana', u'pg_catalog', u'pg_authid', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None)]

## 3. Create DB
Once you are connected to your local Postgresql server, create a new database. Call it `lab33`.

Practice creating and deleting the database with the following methods:

- Postico
- Command-line:
>     create database lab33
>     drop database lab33

- Sqlalchemy
- Ipython-notebook using the ipython-sql extension

**Check:** If you create a DB in Postico, do you see it from the command-line?
> Yes

**Check:** What does this tell us about multiple connections to the same db?
> Multiple users/connections are possible and the data is consistent. Postgres is relational -> ACID.

In [14]:
# sqlalchemy
# conn = engine.connect()
# conn.execute("commit")
# conn.execute("create database lab33")
# conn.close()

In [15]:
%%sql
create database lab33

(psycopg2.ProgrammingError) database "lab33" already exists
 [SQL: 'create database lab33']

## 4. CRUD (Create, Read, Update, and Delete)

In lesson 1.1 you learned how to add and remove data from sqlite. Let's review that on our local PostgreSQL installation.

### 4.a: Creating Tables and Adding Columns

1. Create an table called `table1` with a single column `field1` containing an INTEGER PRIMARY KEY. Practice doing this with any of the methods above.
- Add a few more columns to `table1`:
    - field2 VARCHAR(16)
    - field3 REAL
    - field4 TEXT
check [the doc](http://www.postgresql.org/docs/9.3/static/datatype.html) for more info on data types supported by postgresql.
- Check tables and schemas using command line or postico

In [16]:
%%sql postgresql://localhost:5432/lab33

CREATE TABLE table1 (field1 INTEGER PRIMARY KEY);

(psycopg2.ProgrammingError) relation "table1" already exists
 [SQL: 'CREATE TABLE table1 (field1 INTEGER PRIMARY KEY);']

In [20]:
%%sql 
ALTER TABLE table1 ADD COLUMN field2 VARCHAR(16);
ALTER TABLE table1 ADD COLUMN field3 REAL;
ALTER TABLE table1 ADD COLUMN field4 TEXT;
select * from table1;

(psycopg2.ProgrammingError) column "field2" of relation "table1" already exists
 [SQL: 'ALTER TABLE table1 ADD COLUMN field2 VARCHAR(16);']

In [21]:
%%sql
select * from table1;

0 rows affected.

[]

### 4.b: Add Data

Add some data to `table1`:

|field1|field2|field3|field4|
|----|
|1|'Henry James'|42|'75 Mission Street, San Francisco, CA'|
|2|'Carol James'|40|'75 Mission Street, San Francisco, CA'|
|3|'Jesse James'|12|'75 Mission Street, San Francisco, CA'|

In [23]:
%%sql
INSERT INTO table1 VALUES (1, 'Henry James', 42, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (2, 'Carol James', 40, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (3, 'Jesse James', 12, '75 Mission Street, San Francisco, CA');

1 rows affected.
1 rows affected.
1 rows affected.

[]

### 4.c: Read Data
Read the content of the table,

In [25]:
%%sql
select * from table1;

3 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 40.0, u'75 Mission Street, San Francisco, CA'),
 (3, u'Jesse James', 12.0, u'75 Mission Street, San Francisco, CA')]

### 4.d: Update Records
Suppose we need to update an existing record with new data - e.g. maybe `Jesse James` is only 9. Use the update command to do this.

In [26]:
%%sql
UPDATE table1 SET field3=9 WHERE field1=3;
select * from table1;

1 rows affected.
3 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 40.0, u'75 Mission Street, San Francisco, CA'),
 (3, u'Jesse James', 9.0, u'75 Mission Street, San Francisco, CA')]

### 4.e: Remove Records
To remove records use the DELETE command. Delete the entry for anyone matching `Jesse`.

In [30]:
%%sql
DELETE FROM table1 WHERE field2 like '%Jesse%';
select * from table1;

1 rows affected.
2 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 40.0, u'75 Mission Street, San Francisco, CA')]

## 5. Data from CSV

Copy CSV data from a local file into a local PostgreSQL database. We will use a [dataset](../../assets/datasets/Eviction_Notices.csv) pulled from the SF open data website. It contains a set of eviction notices issued in San Francisco.

Open the data in a text editor and have a look at it.

### 5.a: Simple Import

Read [this post](http://stackoverflow.com/questions/2987433/how-to-import-csv-file-data-into-a-postgresql-table) to learn how you can import data from CSV to PostgreSQL.

Notice that you have to decide the type for each column. Let's keep it simple and import everything as a string of text for now.

- Create a table called `evictions_simple` and import the data as varchar.
- Check that everything worked fine by loading a few lines from the table.
- Try some simple queries:
    - count how many evictions are due to non_payments
    - list the 3 most recent evictions


**Hint:** A good practice when you create a new table is to always drop it first, in case it already exists.

**Check:** Did you avoid importing the header as a record?

In [31]:
%%sql
DROP TABLE IF EXISTS evictions_simple;
CREATE TABLE evictions_simple
(eviction_id varchar,
 address varchar,
 city varchar,
 state varchar,
 zip varchar,
 file_date varchar,
 non_payment varchar,
 breach varchar,
 nuisance varchar,
 illegal_use varchar,
 failure_to_sign_renewal varchar,
 access_denial varchar,
 unapproved_subtenant varchar,
 owner_move_in varchar,
 demolition varchar,
 capital_improvement varchar,
 substantial_rehab varchar,
 ellis_act_withdrawal varchar,
 condo_conversion varchar,
 roommate_same_unit varchar,
 other_cause varchar,
 late_payments varchar,
 lead_remediation varchar,
 development varchar,
 good_samaritan_ends varchar,
 constraints varchar,
 constraints_date varchar,
 supervisor_district varchar,
 neighborhood varchar,
 client_location varchar);


COPY evictions_simple FROM '../../assets/datasets/Eviction_Notices.csv' DELIMITER ',' CSV HEADER;

Done.
Done.
(psycopg2.OperationalError) could not open file "../../assets/datasets/Eviction_Notices.csv" for reading: No such file or directory
 [SQL: "COPY evictions_simple FROM '../../assets/datasets/Eviction_Notices.csv' DELIMITER ',' CSV HEADER;"]

In [32]:
%%sql
select * from evictions_simple limit 3;

0 rows affected.

[]

In [33]:
%%sql
select count(*) from evictions_simple
where non_payment = 'true';

1 rows affected.

[(0L,)]

In [34]:
%%sql
select * from evictions_simple
order by file_date desc
limit 3;

0 rows affected.

[]

### 5.b: Data Cleaning and Import

If you've executed the last query correctly (most recent evictions), you'll have noticed that the dates are not correctly understood. This is because we were sloppy and imported the data as string for all fields.

Let's see what data types we would ideally like to have for each column.

[Here are data types](http://www.tutorialspoint.com/postgresql/postgresql_data_types.htm)

- Discuss in pairs each column and then let's summarize together. Which data type would you choose for each field?
- Repeat the import to a new table called `evictions`. Notice that line 31494 may throw an error. Why is that?
> There are two ` characters that do not belong.
- Repeat the query for the 3 most recent evictions. Does it work now?

In [58]:
%%sql
DROP TABLE IF EXISTS evictions;
CREATE TABLE evictions
(eviction_id varchar,
 address varchar,
 city varchar,
 state char(2),
 zip char(5),
 file_date date,
 non_payment boolean,
 breach boolean,
 nuisance boolean,
 illegal_use boolean,
 failure_to_sign_renewal boolean,
 access_denial boolean,
 unapproved_subtenant boolean,
 owner_move_in boolean,
 demolition boolean,
 capital_improvement boolean,
 substantial_rehab boolean,
 ellis_act_withdrawal boolean,
 condo_conversion boolean,
 roommate_same_unit boolean,
 other_cause boolean,
 late_payments boolean,
 lead_remediation boolean,
 development boolean,
 good_samaritan_ends boolean,
 constraints boolean,
 constraints_date date,
 supervisor_district integer,
 neighborhood varchar,
 client_location varchar);


COPY evictions FROM '/assets/datasets/Eviction_Notices.csv' DELIMITER ',' CSV HEADER;

Done.
Done.
(psycopg2.OperationalError) could not open file "/assets/datasets/Eviction_Notices.csv" for reading: No such file or directory
 [SQL: "COPY evictions FROM '/assets/datasets/Eviction_Notices.csv' DELIMITER ',' CSV HEADER;"]

In [55]:
%%sql
select * from evictions
order by file_date desc
limit 3;

0 rows affected.

[]

## 6. Queries

Now that we have imported the data with correct data types, let's query the `evictions` table and find out a few things about SF and evictions.

Questions:
- How many neighborhoods are there in SF? List them alphabetically
- How many supervisor districts? 
- How many unique zip codes?
    - Are there any bad data in these? how many?
- What are the top 5 causes of eviction?

### 6.a: How many neighborhoods are there in SF? List them alphabetically.

In [37]:
%%sql
select count(distinct neighborhood) from evictions;

1 rows affected.

[(0L,)]

In [38]:
%%sql
select distinct neighborhood from evictions
order by neighborhood;

0 rows affected.

[]

### 6.b: How many supervisor districts?

In [39]:
%%sql
select distinct supervisor_district from evictions
order by supervisor_district;

0 rows affected.

[]

### 6.c how many unique zip codes?

Are there any bad data in these?

In [40]:
%%sql
select distinct zip from evictions
order by zip;

0 rows affected.

[]

### 6.d: What are the top 5 causes of eviction?

You may find it easier to answer this question using pandas.

In [41]:
engine = create_engine('postgresql://localhost:5432/lab33')
evictions = pd.read_sql("SELECT * FROM evictions;", engine)

In [42]:
cause_list = ["non_payment",
              "breach",
              "nuisance",
              "illegal_use",
              "failure_to_sign_renewal",
              "access_denial",
              "unapproved_subtenant",
              "owner_move_in",
              "demolition",
              "capital_improvement",
              "substantial_rehab",
              "ellis_act_withdrawal",
              "condo_conversion",
              "roommate_same_unit",
              "other_cause",
              "late_payments",
              "lead_remediation",
              "development",
              "good_samaritan_ends"]

In [43]:
evictions[cause_list].sum().sort_values(ascending = False)

good_samaritan_ends        0.0
demolition                 0.0
breach                     0.0
nuisance                   0.0
illegal_use                0.0
failure_to_sign_renewal    0.0
access_denial              0.0
unapproved_subtenant       0.0
owner_move_in              0.0
capital_improvement        0.0
development                0.0
substantial_rehab          0.0
ellis_act_withdrawal       0.0
condo_conversion           0.0
roommate_same_unit         0.0
other_cause                0.0
late_payments              0.0
lead_remediation           0.0
non_payment                0.0
dtype: float64

## Bonus
- Let's count the number of evictions for each year
    - How has the number varied?
    - Can you compare this with the nasdaq index? (use the DataReader module in Pandas to get the data)

In [44]:
evictions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 30 columns):
eviction_id                0 non-null object
address                    0 non-null object
city                       0 non-null object
state                      0 non-null object
zip                        0 non-null object
file_date                  0 non-null object
non_payment                0 non-null object
breach                     0 non-null object
nuisance                   0 non-null object
illegal_use                0 non-null object
failure_to_sign_renewal    0 non-null object
access_denial              0 non-null object
unapproved_subtenant       0 non-null object
owner_move_in              0 non-null object
demolition                 0 non-null object
capital_improvement        0 non-null object
substantial_rehab          0 non-null object
ellis_act_withdrawal       0 non-null object
condo_conversion           0 non-null object
roommate_same_unit         0 non-null object
other_cause                0 non-null object
late_payments              0 non-null object
lead_remediation           0 non-null object
development                0 non-null object
good_samaritan_ends        0 non-null object
constraints                0 non-null object
constraints_date           0 non-null object
supervisor_district        0 non-null object
neighborhood               0 non-null object
client_location            0 non-null object
dtypes: object(30)
memory usage: 0.0+ bytes

In [ ]:
%%sql
select extract(year from file_date) as yyyy,
       count(eviction_id) as evictions
from evictions
group by 1
order by 1

In [ ]:
evictions_by_year = _.DataFrame()

In [ ]:
evictions_by_year =evictions_by_year.set_index('yyyy')

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
evictions_by_year

In [ ]:
evictions_by_year.plot()

In [ ]:
from pandas.io.data import DataReader
import datetime

In [ ]:
nasdaq = DataReader("NASDAQ:NDAQ", "google", start=datetime.datetime(1990, 1, 1))

In [ ]:
nasdaq['Close'].plot()

In [ ]:
nasdaq_year_avg = nasdaq['Close'].groupby(pd.TimeGrouper('A')).mean()
nasdaq_year_avg

In [ ]:
nasdaq_year_avg.index = evictions_by_year.loc[2002:].index

In [ ]:
evictions_by_year['nasdaq'] = nasdaq_year_avg

In [ ]:
evictions_by_year['evictions'].plot()
evictions_by_year['nasdaq'].plot(secondary_y=True)