In [133]:
# these will install packages from the notebook!
#!pip install sklearn
#!pip install matplotlib
#!pip install numpy
#!pip install pandas

In [134]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import datasets

In [135]:
iris = datasets.load_iris() # load the digits (data)
type(iris)

sklearn.datasets.base.Bunch

In [136]:
list(iris.target_names) # names of potential labels

['setosa', 'versicolor', 'virginica']

In [137]:
list(iris.feature_names) # names of features

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [138]:
irisdf = pd.DataFrame(iris.data, columns=iris.feature_names)
irisdf['target'] = iris.target
# append target (response column) to your new dataframe

In [139]:
irisdf.count() # no null values present

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
target               150
dtype: int64

In [140]:
irisdf.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [141]:
irisdf.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                 int64
dtype: object

In [142]:
irisdf_new = irisdf[ irisdf.target != 2 ]
# keep all rows which do not have target 2
# since target can be 0,1, and 2, and logistic regression must be binary,
# for this dataset, we will remove all rows which have a target of 2 to meet this requirement

In [143]:
irisdf_new.count()

sepal length (cm)    100
sepal width (cm)     100
petal length (cm)    100
petal width (cm)     100
target               100
dtype: int64

In [144]:
test_df = irisdf_new[ irisdf_new.index < 30 ]
# reserve 30 records for testing!
# we will refer to this dataset later.

test_df.count()

sepal length (cm)    30
sepal width (cm)     30
petal length (cm)    30
petal width (cm)     30
target               30
dtype: int64

In [145]:
train_df = irisdf_new[ irisdf_new.index >= 30 ] 

# take 70 records for model training
train_df.count()

sepal length (cm)    70
sepal width (cm)     70
petal length (cm)    70
petal width (cm)     70
target               70
dtype: int64

In [146]:
predictor_cols = ["sepal length (cm)","sepal width (cm)",
                  "petal length (cm)","petal width (cm)"]
# here is list of features

In [147]:
# lets create our prediction dataframe (columns are strickly feature columns)
df_pred = train_df[predictor_cols]

In [148]:
df_pred.count()

sepal length (cm)    70
sepal width (cm)     70
petal length (cm)    70
petal width (cm)     70
dtype: int64

In [149]:
# Now time to fit our model, using StatsModels!
# to fit model you will use the training dataset, not the test dataset!
logit = LogisticRegression()
results = logit.fit(df_pred, train_df.target)
#print type(results)

In [150]:
# disable chained-assignment caution
pd.options.mode.chained_assignment = None
# input test_pred_df into the logit model and append column to original test_df
test_df['prediction'] = logit.predict(test_df[predictor_cols])

In [152]:
test_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,prediction
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,0
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0