<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 15px;">

# Intro to Data Cleaning

***

Week 2 | Lesson 2.3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*

- Inspect data types
- Clean up a column using df.apply()
- Know what situations to use .value_counts() in your code

### LESSON GUIDE
| TIMING  | TYPE  | TOPIC  |
|:-:|---|---|
| 5 min  | [Introduction](#introduction)   | Inspect data types, df.apply(), .value_counts()  |
| 10 min  | [Demo /Guided Practice](#common_steps)  | Common cleaning |
| 10 min  | [Demo /Guided Practice](#dfd)  | Data flow diagrams |
| 10 min  | [Demo /Guided Practice](#inspect_data_types)  | Inspecting data types |
| 10 min  | [Demo /Guided Practice](#apply)  | Applying functions |
| 10 min  | [Demo /Guided Practice](#value_counts)  | .value_counts() |
| 20 min  | [Independent Practice](#ind-practice)  |   |
| 5 min  | [Conclusion](#conclusion)  |   |

<a name="introduction"></a>
## Introduction: data cleaning (5 mins)

Since we're starting to get pretty comfortable with using pandas to do EDA, let's add some more tools to our toolbox.

### Conceptually: what do you look for, and how do you stay organized?

There's no magic formula, but we'll list common cleaning operations.

Reproducibility matters, so document! For high-level planning and documentation, **data flow diagrams** are helpful.

### Technically: once you know what you want to do, how do you do it in pandas?

Pandas has many functions to help process and manipulate your data. You learned some this morning. We'll take a second look at .dtypes, .apply() and .value_counts.

**.dtypes** is the data type attribute of numpy/pandas objects.

**df.apply()** applies a function along any axis of a DataFrame.

**pandas.Series.value_counts** returns a Series containing counts of unique values. Excludes NaN values.

<a name="common_steps"></a>

## Common steps in cleaning data

- Drop outliers

For numerical data, consider dropping values > 3 SDs from the mean.</br>
For categorical data, consider dropping cases accounting for < 1% of items.</br>

- Normalize

Options include:

Max-min: Xnorm = (X − Xmin) / (Xmax − Xmin)

Z-score: (Xi - mean(X)) / sd

## Common steps in cleaning data

- Relabel

*("Bachelor's", "BSc", "Bachelor of Arts") -> "BA"*

- Decode

*1 -> "EU", 2 -> "Asia-Pacific", 3 -> "MENA"*

## Common steps in cleaning 

- Recast

*("1.0", "2.0", "3.0") -> (1,2,3)*

- Handle null values

Pandas will usually impute NaNs for you. Drop them? Replace with estimates?

## Common steps in cleaning 

- Binarize (dummy variables)

*(Blue, Green, Blue, Red, Red, Green) ->*
*IsBlue: (1, 0, 1, 0, 0, 0); IsGreen: (0, 1, 0, 0, 0, 1); IsRed: (0, 0, 0, 1, 1, 0)*

- Discretization

*(20, 56, 7, 2, 14, 89, 70, 40) -> (Adult, Adult, Child, Child, Child, Senior, Senior, Adult)*

> ook at the Billboard dataset (below). What kinds of cleaning might it require?

In [243]:
import pandas as pd
bb = pd.read_csv('../assets/datasets/billboard.csv')
bb.head(15)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,*,*,*,*,*,*,*,*,*,*
1,2000,Santana,"Maria, Maria","4,18,00 AM",Rock,"February 12, 2000","April 8, 2000",15,8,6,...,*,*,*,*,*,*,*,*,*,*
2,2000,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,"October 23, 1999","January 29, 2000",71,48,43,...,*,*,*,*,*,*,*,*,*,*
3,2000,Madonna,Music,"3,45,00 AM",Rock,"August 12, 2000","September 16, 2000",41,23,18,...,*,*,*,*,*,*,*,*,*,*
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,"August 5, 2000","October 14, 2000",57,47,45,...,*,*,*,*,*,*,*,*,*,*
5,2000,Janet,Doesn't Really Matter,"4,17,00 AM",Rock,"June 17, 2000","August 26, 2000",59,52,43,...,*,*,*,*,*,*,*,*,*,*
6,2000,Destiny's Child,Say My Name,"4,31,00 AM",Rock'n'roll,"December 25, 1999","March 18, 2000",83,83,44,...,*,*,*,*,*,*,*,*,*,*
7,2000,"Iglesias, Enrique",Be With You,"3,36,00 AM",Latin,"April 1, 2000","June 24, 2000",63,45,34,...,*,*,*,*,*,*,*,*,*,*
8,2000,Sisqo,Incomplete,"3,52,00 AM",Rock'n'roll,"June 24, 2000","August 12, 2000",77,66,61,...,*,*,*,*,*,*,*,*,*,*
9,2000,Lonestar,Amazed,"4,25,00 AM",Country,"June 5, 1999","March 4, 2000",81,54,44,...,*,*,*,*,*,*,*,*,*,*
10,2000,N'Sync,It's Gonna Be Me,"3,10,00 AM",Rock'n'roll,"May 6, 2000","July 29, 2000",82,70,51,...,*,*,*,*,*,*,*,*,*,*
11,2000,"Aguilera, Christina",What A Girl Wants,"3,18,00 AM",Rock'n'roll,"November 27, 1999","January 15, 2000",71,51,28,...,*,*,*,*,*,*,*,*,*,*
12,2000,Vertical Horizon,Everything You Want,"4,01,00 AM",Rock'n'roll,"January 22, 2000","July 15, 2000",70,61,53,...,*,*,*,*,*,*,*,*,*,*
13,2000,Creed,With Arms Wide Open,"3,52,00 AM",Rock'n'roll,"May 13, 2000","November 11, 2000",84,78,76,...,*,*,*,*,*,*,*,*,*,*
14,2000,Aaliyah,Try Again,"4,03,00 AM",Rock'n'roll,"March 18, 2000","June 17, 2000",59,53,38,...,*,*,*,*,*,*,*,*,*,*

In [244]:
bb.head(15)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,*,*,*,*,*,*,*,*,*,*
1,2000,Santana,"Maria, Maria","4,18,00 AM",Rock,"February 12, 2000","April 8, 2000",15,8,6,...,*,*,*,*,*,*,*,*,*,*
2,2000,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,"October 23, 1999","January 29, 2000",71,48,43,...,*,*,*,*,*,*,*,*,*,*
3,2000,Madonna,Music,"3,45,00 AM",Rock,"August 12, 2000","September 16, 2000",41,23,18,...,*,*,*,*,*,*,*,*,*,*
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,"August 5, 2000","October 14, 2000",57,47,45,...,*,*,*,*,*,*,*,*,*,*
5,2000,Janet,Doesn't Really Matter,"4,17,00 AM",Rock,"June 17, 2000","August 26, 2000",59,52,43,...,*,*,*,*,*,*,*,*,*,*
6,2000,Destiny's Child,Say My Name,"4,31,00 AM",Rock'n'roll,"December 25, 1999","March 18, 2000",83,83,44,...,*,*,*,*,*,*,*,*,*,*
7,2000,"Iglesias, Enrique",Be With You,"3,36,00 AM",Latin,"April 1, 2000","June 24, 2000",63,45,34,...,*,*,*,*,*,*,*,*,*,*
8,2000,Sisqo,Incomplete,"3,52,00 AM",Rock'n'roll,"June 24, 2000","August 12, 2000",77,66,61,...,*,*,*,*,*,*,*,*,*,*
9,2000,Lonestar,Amazed,"4,25,00 AM",Country,"June 5, 1999","March 4, 2000",81,54,44,...,*,*,*,*,*,*,*,*,*,*
10,2000,N'Sync,It's Gonna Be Me,"3,10,00 AM",Rock'n'roll,"May 6, 2000","July 29, 2000",82,70,51,...,*,*,*,*,*,*,*,*,*,*
11,2000,"Aguilera, Christina",What A Girl Wants,"3,18,00 AM",Rock'n'roll,"November 27, 1999","January 15, 2000",71,51,28,...,*,*,*,*,*,*,*,*,*,*
12,2000,Vertical Horizon,Everything You Want,"4,01,00 AM",Rock'n'roll,"January 22, 2000","July 15, 2000",70,61,53,...,*,*,*,*,*,*,*,*,*,*
13,2000,Creed,With Arms Wide Open,"3,52,00 AM",Rock'n'roll,"May 13, 2000","November 11, 2000",84,78,76,...,*,*,*,*,*,*,*,*,*,*
14,2000,Aaliyah,Try Again,"4,03,00 AM",Rock'n'roll,"March 18, 2000","June 17, 2000",59,53,38,...,*,*,*,*,*,*,*,*,*,*

In [245]:
bb.columns.values

array(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', 'x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week',
       'x14th.week', 'x15th.week', 'x16th.week', 'x17th.week',
       'x18th.week', 'x19th.week', 'x20th.week', 'x21st.week',
       'x22nd.week', 'x23rd.week', 'x24th.week', 'x25th.week',
       'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week',
       'x34th.week', 'x35th.week', 'x36th.week', 'x37th.week',
       'x38th.week', 'x39th.week', 'x40th.week', 'x41st.week',
       'x42nd.week', 'x43rd.week', 'x44th.week', 'x45th.week',
       'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week',
       'x54th.week', 'x55th.week', 'x56th.week', 'x57th.week',
       'x58th.week', 'x59th.week', 'x60th.week', 'x61st.week',
       'x62nd.week', 'x63rd.week', 'x64th.week', 'x65th.week',
       'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week',
       'x74th.week', 'x75th.week', 'x76th.week'], dtype=object)

<a name="dfd"></a>


## Planning your system with data flow diagrams


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Data-flow-diagram-notation.svg/220px-Data-flow-diagram-notation.svg.png">

- Function / process (ellipse or circle): takes in data from one or more sources, transforms it, and outputs it to one or more destinations 

- Store / file (parallel lines): place where data persists; takes an input and ought to have an output

- Input-output (rectangle): process that produces or consumes data

- Flow (arrow): shows the flow of specific data

> What is an example of data processing you may want to do? Sketch a data flow diagram and walk your tablemates through it.

<a name="inspect_data_types"></a>
## Demo /Guided Practice: Inspect data types  (10 mins)

Let's create a small dictionary with different data types in it.

### Import Pandas + Numpy

In [227]:
import pandas as pd
import numpy as np

### Create Test Data

In [228]:
test_data = dict( 
    A = np.random.rand(3),
    B = 1,
    C = 'foo',
    D = pd.Timestamp('20010102'),
    E = pd.Series([1.0]*3).astype('float32'),
    F = False,
    G = pd.Series([1]*3,dtype='int8')
)

In [229]:
test_data

{'A': array([ 0.77594959,  0.72592299,  0.69493635]),
 'B': 1,
 'C': 'foo',
 'D': Timestamp('2001-01-02 00:00:00'),
 'E': 0    1.0
 1    1.0
 2    1.0
 dtype: float32,
 'F': False,
 'G': 0    1
 1    1
 2    1
 dtype: int8}

### Create our DataFrame

In [230]:
dft = pd.DataFrame(test_data)
dft

          A  B    C          D    E      F  G
0  0.775950  1  foo 2001-01-02  1.0  False  1
1  0.725923  1  foo 2001-01-02  1.0  False  1
2  0.694936  1  foo 2001-01-02  1.0  False  1

In [231]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

**What might we expect dtypes in the case of mixed type values in a single dimension?**

ie:  [2, 3, 4, 5, 6, 7, 8.9]

If a pandas object contains data multiple dtypes IN A SINGLE COLUMN, the dtype of the column will be chosen to accommodate all of the data types (object is the most general).

### Ints are cast to floats

In [232]:
pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

### String elements are cast to ``object`` dtype

In [233]:
pd.Series([1, 2, 3, 'foo'])

0      1
1      2
2      3
3    foo
dtype: object

In [234]:
dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

> If you turn these into a pd.Series, what will be the dtype?

    [1, 3, 9, .33, False, '03-20-1978', np.arange(22)]

In [235]:
pd.Series([1, 3, 9, .33, False, '03-20-1978', np.arange(22)])

0                                                    1
1                                                    3
2                                                    9
3                                                 0.33
4                                                False
5                                           03-20-1978
6    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
dtype: object

## Why do you think it might be important to know what the column dtypes are?

In [236]:
print(dft.select_dtypes(include=['bool']))
print(dft.select_dtypes(include=['object'])*2)
#dft.select_dtypes(include=['object'])/2

       F
0  False
1  False
2  False
        C
0  foofoo
1  foofoo
2  foofoo

<a name=" df.apply()"></a>
## Demo / Guided Practice:  df.apply(), df.applymap(), Series.map() (20 mins)

df.apply() applies some function to each column (or row) of your dataframe (*"column-wise"*).

df.applymap() applies some function *element-wise*.

Series.map() is a pd.Series method that applies a function element-wise on a series.

> Check: why would these be useful in data cleaning?

In [237]:
# Create test data

df = pd.DataFrame(np.random.randint(-5, 5, (5,4)), columns = ['a','b','c','d'])
df

   a  b  c  d
0  3 -3 -1 -1
1 -4 -3 -3 -5
2  1 -3 -2  2
3 -2  4  4  2
4  4  4  1  1

In [238]:
df.apply(min)

a   -4
b   -3
c   -3
d   -5
dtype: int64

In [ ]:
df

In [239]:
df.apply(min, axis = 1)

0   -3
1   -5
2   -3
3   -2
4    1
dtype: int64

In [240]:
df.applymap(np.sqrt)

          a    b    c         d
0  1.732051  NaN  NaN       NaN
1       NaN  NaN  NaN       NaN
2  1.000000  NaN  NaN  1.414214
3       NaN  2.0  2.0  1.414214
4  2.000000  2.0  1.0  1.000000

In [241]:
df['a'].map(np.sqrt)

0    1.732051
1         NaN
2    1.000000
3         NaN
4    2.000000
Name: a, dtype: float64

> Check: what happens if we try to use the min function in .applymap()?

In [242]:
df.applymap(min)

TypeError: ("'numpy.int64' object is not iterable", u'occurred at index a')

### Further Reading

For more advanced `.apply` usage, check out these links:

["Why Not"'s Gist Examples](https://gist.github.com/why-not/4582705)

[Chris Albon's Map + Apply Examples](http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html)

### **Check:** How would you find the std of the columns and rows?

<a name=".value_counts()"></a>
## Demo /Guided Practice: .value_counts() (< 10 mins)

Why is this important?  Basically, this tells us the count of unique values that exist.  It's helpful to identify anything unexpected.  Looking at value_counts(), per series, can give us a quick overview of values expressed in our data.

 - Strings inside of mostly numeric / continious data
 - Non-numeric values
 - General counts of values that we might expect to see
 - Most common / least common values

Let's create some random data

In [246]:
data = np.random.randint(0, 7, size = 50)
data

array([1, 6, 5, 6, 4, 2, 4, 1, 0, 0, 0, 5, 1, 0, 4, 4, 3, 2, 6, 2, 2, 5, 2,
       2, 1, 3, 4, 0, 6, 1, 5, 3, 3, 5, 5, 2, 2, 2, 4, 3, 3, 4, 2, 3, 2, 0,
       3, 0, 2, 0])

In [247]:
s = pd.Series(data)
s.head()

0    1
1    6
2    5
3    6
4    4
dtype: int64

In [248]:
# The counts of each number that occurs in our array is listed
pd.value_counts(s)

2    12
3     8
0     8
4     7
5     6
1     5
6     4
dtype: int64

### Lab preview: let's munge the Billboard dataset!

In [249]:
bb.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,*,*,*,*,*,*,*,*,*,*
1,2000,Santana,"Maria, Maria","4,18,00 AM",Rock,"February 12, 2000","April 8, 2000",15,8,6,...,*,*,*,*,*,*,*,*,*,*
2,2000,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,"October 23, 1999","January 29, 2000",71,48,43,...,*,*,*,*,*,*,*,*,*,*
3,2000,Madonna,Music,"3,45,00 AM",Rock,"August 12, 2000","September 16, 2000",41,23,18,...,*,*,*,*,*,*,*,*,*,*
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,"August 5, 2000","October 14, 2000",57,47,45,...,*,*,*,*,*,*,*,*,*,*
5,2000,Janet,Doesn't Really Matter,"4,17,00 AM",Rock,"June 17, 2000","August 26, 2000",59,52,43,...,*,*,*,*,*,*,*,*,*,*
6,2000,Destiny's Child,Say My Name,"4,31,00 AM",Rock'n'roll,"December 25, 1999","March 18, 2000",83,83,44,...,*,*,*,*,*,*,*,*,*,*
7,2000,"Iglesias, Enrique",Be With You,"3,36,00 AM",Latin,"April 1, 2000","June 24, 2000",63,45,34,...,*,*,*,*,*,*,*,*,*,*
8,2000,Sisqo,Incomplete,"3,52,00 AM",Rock'n'roll,"June 24, 2000","August 12, 2000",77,66,61,...,*,*,*,*,*,*,*,*,*,*
9,2000,Lonestar,Amazed,"4,25,00 AM",Country,"June 5, 1999","March 4, 2000",81,54,44,...,*,*,*,*,*,*,*,*,*,*

Where do we start? Let's start with the null value sentinels.

In [250]:
def replace_nulls(value):
    if value == '*':
        return np.nan
    else:
        return value

In [251]:
music.applymap(replace_nulls)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria","4,18,00 AM",Rock,"February 12, 2000","April 8, 2000",15,8,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,"4,07,00 AM",Rock,"October 23, 1999","January 29, 2000",71,48,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,"3,45,00 AM",Rock,"August 12, 2000","September 16, 2000",41,23,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),"3,38,00 AM",Rock,"August 5, 2000","October 14, 2000",57,47,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,"4,17,00 AM",Rock,"June 17, 2000","August 26, 2000",59,52,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,"4,31,00 AM",Rock'n'roll,"December 25, 1999","March 18, 2000",83,83,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,"3,36,00 AM",Latin,"April 1, 2000","June 24, 2000",63,45,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,"3,52,00 AM",Rock'n'roll,"June 24, 2000","August 12, 2000",77,66,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,"4,25,00 AM",Country,"June 5, 1999","March 4, 2000",81,54,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,N'Sync,It's Gonna Be Me,"3,10,00 AM",Rock'n'roll,"May 6, 2000","July 29, 2000",82,70,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",What A Girl Wants,"3,18,00 AM",Rock'n'roll,"November 27, 1999","January 15, 2000",71,51,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,Vertical Horizon,Everything You Want,"4,01,00 AM",Rock'n'roll,"January 22, 2000","July 15, 2000",70,61,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,Creed,With Arms Wide Open,"3,52,00 AM",Rock'n'roll,"May 13, 2000","November 11, 2000",84,78,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Aaliyah,Try Again,"4,03,00 AM",Rock'n'roll,"March 18, 2000","June 17, 2000",59,53,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,matchbox twenty,Bent,"4,12,00 AM",Rock,"April 29, 2000","July 22, 2000",60,37,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,"Carey, Mariah",Thank God I Found You,"4,14,00 AM",Rock,"December 11, 1999","February 19, 2000",82,68,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,"Hill, Faith",Breathe,"4,04,00 AM",Rap,"November 6, 1999","April 22, 2000",81,68,62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),"3,50,00 AM",Rock'n'roll,"August 19, 2000","December 2, 2000",72,57,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,Dream,He Loves U Not,"3,43,00 AM",Rock,"September 30, 2000","December 30, 2000",99,92,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,"Braxton, Toni",He Wasn't Man Enough,"4,21,00 AM",Rock,"March 18, 2000","May 6, 2000",63,55,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,"Anthony, Marc",You Sang To Me,"3,50,00 AM",Latin,"February 26, 2000","June 3, 2000",77,54,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,98�,Give Me Just One Night (Una Noche),"3,24,00 AM",Rock,"August 19, 2000","September 30, 2000",51,39,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,Destiny's Child,Jumpin' Jumpin',"3,48,00 AM",Rock,"May 13, 2000","August 19, 2000",74,71,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,3 Doors Down,Kryptonite,"3,53,00 AM",Rock,"April 8, 2000","November 11, 2000",81,70,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,Sisqo,Thong Song,"4,05,00 AM",Rock'n'roll,"January 29, 2000","May 20, 2000",74,63,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Aguilera, Christina",I Turn To You,"4,00,00 AM",Rock'n'roll,"April 15, 2000","July 1, 2000",50,39,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,"Houston, Whitney",My Love Is Your Love,"4,16,00 AM",Rock'n'roll,"September 4, 1999","January 8, 2000",81,68,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Joe,I Wanna Know,"4,57,00 AM",Rock'n'roll,"January 1, 2000","July 1, 2000",94,86,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,"Jordan, Montell",Get It On.. Tonite,"4,34,00 AM",Rap,"October 23, 1999","February 12, 2000",92,80,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,"3,15,00 AM",R & B,"September 2, 2000","September 9, 2000",91,87,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,Madison Avenue,Don't Call Me Baby,"3,44,00 AM",Electronica,"July 8, 2000","September 16, 2000",98,96,93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,Eve,Got It All,"3,48,00 AM",Rap,"July 15, 2000","July 22, 2000",89,88,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,Limp Bizkit,Re-Arranged,"4,08,00 AM",Rock,"December 4, 1999","February 5, 2000",91,91,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,"Spencer, Tracie",Still In My Heart,"4,11,00 AM",Rock,"March 4, 2000","March 11, 2000",95,88,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Nu Flavor,3 Little Words,"3,54,00 AM",R & B,"June 3, 2000","June 17, 2000",97,97,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Tamar,If You Don't Wanna Love Me,"4,02,00 AM",Rock,"March 25, 2000","April 15, 2000",98,98,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Levert, Gerald",Baby U Are,"4,10,00 AM",R & B,"August 19, 2000","August 26, 2000",96,89,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,"Hart, Beth",L.A. Song,"3,47,00 AM",Country,"November 27, 1999","January 15, 2000",99,100,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Diffie, Joe",The Quittin' Kind,"3,23,00 AM",Country,"January 1, 2000","January 22, 2000",98,100,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Funkmaster Flex,Do You,"4,14,00 AM",Rap,"November 11, 2000","December 2, 2000",92,92,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Price, Kelly",Love Sets You Free,"3,46,00 AM",Rock,"May 13, 2000","May 20, 2000",92,91,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,En Vogue,Riddle,"5,10,00 AM",Rock,"June 17, 2000","June 17, 2000",92,92,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,"Herndon, Ty",No Mercy,"4,43,00 AM",Country,"March 18, 2000","May 6, 2000",100,99,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Anastacia,I'm Outta Love,"4,01,00 AM",Pop,"April 1, 2000","April 1, 2000",92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Trina,Pull Over,"2,58,00 AM",Rap,"September 9, 2000","September 16, 2000",97,93,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Lil' Mo,Ta Da,"4,17,00 AM",Rap,"August 12, 2000","September 16, 2000",100,99,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,A*Teens,Dancing Queen,"3,44,00 AM",Pop,"July 8, 2000","July 29, 2000",97,97,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Sheist, Shade",Where I Wanna Be,"4,16,00 AM",Rap,"November 11, 2000","November 18, 2000",96,95,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,De La Soul,All Good?,"5,02,00 AM",Rap,"December 23, 2000","December 23, 2000",96,96,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,"Larrieux, Amel",Get Up,"4,02,00 AM",R & B,"March 4, 2000","March 11, 2000",100,97,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Braxton, Toni",Spanish Guitar,"4,24,00 AM",Rock,"December 2, 2000","December 2, 2000",98,98,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,Tuesday,I Know,"4,06,00 AM",Rock,"December 30, 2000","December 30, 2000",98,98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,LL Cool J,Imagine That,"4,00,00 AM",Rap,"August 12, 2000","August 19, 2000",99,98,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,Master P,Souljas,"3,33,00 AM",Rap,"November 18, 2000","November 18, 2000",98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Ghostface Killah,Cherchez LaGhost,"3,04,00 AM",R & B,"August 5, 2000","August 5, 2000",98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,"3,58,00 AM",Rap,"February 12, 2000","February 12, 2000",99,99,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,"3,30,00 AM",Rock,"September 2, 2000","September 2, 2000",99,99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,"3,58,00 AM",Rap,"July 1, 2000","July 1, 2000",99,99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,"3,22,00 AM",R & B,"October 28, 2000","October 28, 2000",99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<a name="ind-practice"></a>
## Independent Practice: Topic (20+ minutes)
- Use the sales.csv data set, we've seen this a few times in previous lessons
- Inspect the data types
- You've found out that all your values in column 1 are off by 1. Use df.applymap to add 1 to column 1 of the dataset
- Use .value_counts to count the values of 1 column of the dataset

**Bonus** 
- Add 3 to column 2
- Use .value_counts for each column of the dataset

**Bonus Bonus -- COMPLETELY OPTIONAL!!!**
<img src="http://vignette3.wikia.nocookie.net/erbparodies/images/a/a3/Troll_Based_On.png/revision/latest?cb=20151109194505" style="width: 100px;">

Ruining data should give you a better sense of how to clean it.  DReal-life datasets will not be like this.  The solution isn't as important as the process and thinking behind your approach.  Another way you might want to try to do this, is map out how you would do this with pseudo code with a step-by-step plan, without actually coding anything.

- Add an extra column to your dataframe that is a copy of an existing column with continious data
    - Randomly change the value of continious data cells within it to the following:
      - NaN
      - A blank string
      - A numeric string
      - The same value
    - Report value_counts post-"random data troll" processing. Does it seem random?
    - Convert blank strings and NaN values to float(0)
    - Convert numeric strings to floats with 2f precision
    - Divide by 2 if cell value is prime, use remainder as value
    - Post solution as Gist with comments to Slack

<a name="conclusion"></a>
## Conclusion (5 mins)
So far we've used pandas to look at the head and tail of a data set. We've also taken a look at summary stats and different
types of data types. We've selected and sliced data too. Today we added inspecting data types, df.apply, .value_counts to
our pandas arsenal. Nice!