# Morning Exercise

Using the `staff_salary.csv` provided, write Python code to load the data and thereafter compute the following for the `SALARY` field:
* mean
* median

## Load data

In [1]:
import csv
import numpy as np

nba_csv_path = 'staff_salary.csv'
rows = []

with open(nba_csv_path, 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)

## Assign header

In [2]:
header = rows[0]
data = rows[1:]
print(header)

['STAFF_ID', 'SALARY']

In [3]:
staff_data = {}

for index, column_name in enumerate(header):
    staff_data[column_name] = []
    for row in data:
        staff_data[column_name].append(row[index])

In [4]:
staff_data['SALARY']

['18995624',
 '20644400',
 '15719063',
 '5607240',
 '14746000',
 '20068563',
 '15719062',
 '15719062',
 '22458401',
 '10629213',
 '17674613',
 '7974482',
 '5000000',
 '14728844',
 '13500000',
 '2568360',
 '12000000',
 '15000000',
 '16006000',
 '7500000',
 '10361446',
 '21436271',
 '12100000',
 '7238606',
 '12000000',
 '15937290',
 '7070730',
 '8694216',
 '7000000',
 '12700000',
 '2249768',
 '9500000',
 '12350000',
 '0',
 '14746000',
 '2894059',
 '9000000',
 '7128000',
 '15012000',
 '1618680',
 '20644400',
 '1357080',
 '11595506',
 '12950000',
 '12500000',
 '8491500',
 '23410988',
 '0',
 '2751260',
 '3842105',
 '3340920',
 '5375000',
 '2500000',
 '2989239',
 '11265416',
 '10100000',
 '19317326',
 '16500000',
 '4250000',
 '15829688',
 '11440123',
 '0',
 '1987320',
 '19754465',
 '6124729',
 '10434782',
 '967500',
 '12000000',
 '915243',
 '5450000',
 '2000000',
 '10404495',
 '8000000',
 '12972973',
 '4800000',
 '9704545',
 '4051527',
 '8360000',
 '3272091',
 '5305000',
 '4650000',
 '6792500',
 '9410869',
 '3553917',
 '1413480',
 '9250000',
 '3500000',
 '2380594',
 '3000000',
 '915243',
 '14846888',
 '1424520',
 '6792500',
 '5381750',
 '1794871',
 '3000000',
 '14746000',
 '4797664',
 '3678360',
 '915243',
 '4994420',
 '7500000',
 '8000000',
 '0',
 '4205000',
 '981084',
 '3911981',
 '14700000',
 '915243',
 '8579089',
 '11765500',
 '3034356',
 '5305000',
 '7245640',
 '5694674',
 '8000000',
 '4831461',
 '2106720',
 '2300040',
 '23180790',
 '7000000',
 '2204369',
 '1703760',
 '4660479',
 '0',
 '0',
 '12909090',
 '2075760',
 '816482',
 '0',
 '7097191',
 '9714461',
 '3657500',
 '2873750',
 '2077000',
 '5000000',
 '6900000',
 '5138430',
 '14898938',
 '2943221',
 '6000000',
 '1023261',
 '9000000',
 '5831326',
 '3878896',
 '981084',
 '1169880',
 '11500000',
 '5305000',
 '3251000',
 '2915908',
 '0',
 '3368100',
 '4505280',
 '3075880',
 '8374646',
 '5450000',
 '3326235',
 '6400000',
 '3678360',
 '7500000',
 '13500000',
 '4062000',
 '4000000',
 '0',
 '8374646',
 '7000000',
 '915243',
 '5200000',
 '11000000',
 '5982375',
 '3200000',
 '2442455',
 '4650000',
 '4025000',
 '2732000',
 '7900000',
 '1500000',
 '5305000',
 '5450000',
 '0',
 '12289544',
 '4978200',
 '2008748',
 '6253521',
 '14898938',
 '2732000',
 '2202000',
 '4868499',
 '4500000',
 '8000000',
 '12000000',
 '3873398',
 '3000000',
 '5700000',
 '0',
 '8579088',
 '981084',
 '9200000',
 '915243',
 '6000000',
 '4030560',
 '2077000',
 '1662961',
 '1210080',
 '3793693',
 '0',
 '7191011',
 '1250640',
 '816482',
 '0',
 '2077000',
 '915243',
 '4702500',
 '0',
 '1650000',
 '915243',
 '2548560',
 '3326235',
 '915243',
 '3250000',
 '3898692',
 '915243',
 '915243',
 '2732000',
 '6757913',
 '3326235',
 '3278000',
 '0',
 '915243',
 '816482',
 '1082000',
 '0',
 '4500000',
 '1825359',
 '0',
 '915243',
 '2793960',
 '5016960',
 '3396250',
 '3000000',
 '8575000',
 '3150000',
 '915243',
 '915243',
 '1887840',
 '3750000',
 '1090000',
 '2242003',
 '1250000',
 '915243',
 '1768653',
 '4519500',
 '2439840',
 '6300000',
 '5381750',
 '6331404',
 '3013512',
 '0',
 '8000000',
 '915243',
 '2184960',
 '0',
 '1828750',
 '6037500',
 '3445947',
 '915243',
 '0',
 '2077000',
 '3000000',
 '2077000',
 '1873200',
 '915243',
 '2732000',
 '1483920',
 '816482',
 '2732000',
 '3000000',
 '4150000',
 '1483920',
 '1112280',
 '3282056',
 '0',
 '4000000',
 '915243',
 '1129200',
 '5958750',
 '10105855',
 '1545840',
 '3049920',
 '816482',
 '5000000',
 '880000',
 '2616975',
 '1227985',
 '816482',
 '1276061',
 '2772480',
 '3457149',
 '0',
 '0',
 '915243',
 '2750000',
 '4250000',
 '2038206',
 '816482',
 '981084',
 '3000000',
 '915243',
 '4382576',
 '7707865',
 '1472400',
 '981084',
 '3026280',
 '0',
 '816482',
 '5850313',
 '1448490',
 '5563920',
 '9654342',
 '915243',
 '1690680',
 '1600000']

## Convert to float

In [5]:
for name, col in staff_data.items():
    col = [float(x) for x in col]
    staff_data[name] = col

## Print mean and median salary

In [6]:
print 'mean: ${:.2f}'.format(np.mean(staff_data['SALARY']))
print 'median: ${:.2f}'.format(np.median(staff_data['SALARY']))

mean: $5323345.15
median: $3657500.00