In [1]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [2]:
# find the sum of all the ages using pandas
.sum(df["age"])

NameError: name 'pd' is not defined

In [5]:
# find the sum of all the ages using numpy

In [6]:
# find the mean preTestScore using pandas

In [7]:
# find the mean preTestScore using numpy

In [8]:
# find the min value of preTestScore using pandas

In [10]:
# find the min value of preTestScore using numpy

In [11]:
# find the max value of preTestScore using pandas

In [12]:
# find the max value of preTestScore using numpy

In [13]:
# find the median value of preTestScore using pandas

In [14]:
# find the median value of preTestScore using numpy